* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  :root {
    --primary: #1c9726;
    --black: #000000;
    --shadow: #141414;
    --blackLighter: #9E9E9E;
    --grayLight: #F5F5F5;
    --grayMedium: #e5e5e5;
    --white: #FFFFFF;
    --frontEnd: #6BD1FF;
    --backEnd: #00C86F;
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--shadow);
  }

  #root {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
  }

  a {
    color: inherit;
  }
